@color: #02b2b5;
@grey:#999fbc;
html{
    font-size: 14px;
}

.wrapper {
    font-family: Microsoft YaHei,Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    // font-family: 
    .banner{
        height: 110px;
        line-height: 110px;
        .logo{
            font-size: 3rem;
            .cn{
                color: @color;
            }
            .en{
                color: @grey;
            }
            // width:300px;    
        }
        .phone{
            margin-top: 35px;
            .phone-name,.phone-number{
                height: 20px;
                line-height: 20px;
            }
            .phone-name{
                color: @grey;
            }
            .phone-number{
                color:@color;
            }

           
        }
    }
    .main-nav{
        // border: none;
        height: 51px;
        background-color: @color;
        .navbar{
            height: 50px;
            li{
                height: 50px;
            }
        }
    }
    .my-carousel{
        height: 540px;
    }
    .propducts{
        height: 350px;
    }
    .company{
        
        height: 1250px;
        background-color: @color;
    }
    .examples{
        height: 1520px;
        background-color: #f6f6f6;
    }
    .news{
        height: 950px;
    }
    .slogan{
        height: 320px;
        background-color: @color;
    }
    .footer{
        height: 160px;
        background-clip: #4b4b4b;
    }

}