html {
  font-size: 14px;
}
html * {
  transition: all 0.5s ;
}
.shadow {
  box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.05), 0 9px 36px 0 rgba(0, 0, 0, 0.08), 0 27px 9px -18px rgba(0, 0, 0, 0.2);
}
.common-title {
  font-weight: bold;
  color: #02b2b5;
  text-align: center;
  padding: 3rem 0;
  line-height: 300%;
  font-size: 2rem;
  border-bottom: 1px solid #02b2b5;
  padding-bottom: 1.2rem;
  margin-bottom: 1.8rem;
}
.wrapper {
  font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.wrapper .banner {
  line-height: 110px;
  min-width: 900px;
}
.wrapper .banner .logo {
  font-size: 2rem;
  font-weight: bold;
}
.wrapper .banner .logo .cn {
  color: #02b2b5;
}
.wrapper .banner .logo .en {
  color: #999fbc;
}
.wrapper .banner .phone {
  margin-top: 35px;
  padding-left: 15px;
}
.wrapper .banner .phone .phone-name,
.wrapper .banner .phone .phone-number {
  height: 20px;
  line-height: 20px;
  font-size: 1.2rem;
}
.wrapper .banner .phone .phone-name {
  color: #999fbc;
}
.wrapper .banner .phone .phone-number {
  color: #02b2b5;
}
.wrapper .main-nav {
  background-color: #02b2b5;
}
.wrapper .main-nav .navbar {
  border: none;
  margin-bottom: 0;
}
.wrapper .main-nav .navbar li a {
  color: #fff;
}
.wrapper .main-nav .navbar li a:hover {
  color: #02b2b5;
  background-color: #fff;
}
.wrapper .my-carousel img {
  width: 100%;
}
.wrapper .propducts {
  padding: 50px 0;
}
.wrapper .propducts .product {
  border-right: 1px solid #999fbc;
  height: 250px;
  padding: 5%;
}
.wrapper .propducts .product:last-of-type {
  border: none;
}
.wrapper .propducts .product .logo,
.wrapper .propducts .product p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.wrapper .propducts .product .logo {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin: 0 auto;
  background: #02b2b5;
}
.wrapper .propducts .product .logo:hover {
  background: #d6d6d6;
}
.wrapper .propducts .product .logo span {
  line-height: 90px;
  font-size: 4rem;
  color: #fff;
}
.wrapper .propducts .product p {
  line-height: 200%;
}
.wrapper .propducts .product p.cn {
  font-size: 1.5rem;
}
.wrapper .propducts .product p.en {
  color: #999fbc;
}
.wrapper .company {
  background-color: #02b2b5;
  padding-bottom: 150px;
}
.wrapper .company .wrapper {
  background: #02b2b5;
}
.wrapper .company .wrapper .top {
  padding-top: 100px;
  height: 390px;
  text-align: center;
  color: #fff;
}
.wrapper .company .wrapper .top .logo {
  height: 120px;
  width: 120px;
  border: 10px solid #02cbce;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
}
.wrapper .company .wrapper .top .logo span {
  line-height: 100px;
  color: #02b2b5;
  font-size: 5rem;
}
.wrapper .company .wrapper .rect > div {
  background: #fff;
}
.wrapper .company .wrapper .rect .text {
  padding: 2.5rem 5rem;
}
.wrapper .company .wrapper .rect .text h3 {
  font-weight: bold;
  color: #999fbc;
  line-height: 200%;
  border-bottom: 1px solid #d6d6d6;
}
.wrapper .company .wrapper .rect .img {
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}
.wrapper .examples {
  background-color: #f6f6f6;
  padding-bottom: 100px;
}
.wrapper .examples .title {
  font-weight: bold;
  color: #02b2b5;
  text-align: center;
  padding: 3rem 0;
  line-height: 300%;
  font-size: 2rem;
  border-bottom: 1px solid #02b2b5;
  padding-bottom: 1.2rem;
  margin-bottom: 1.8rem;
}
.wrapper .examples .cases .case {
  border-radius: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 40px;
}
.wrapper .examples .cases .case img {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}
.wrapper .examples .cases .case:hover {
  box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.05), 0 9px 36px 0 rgba(0, 0, 0, 0.08), 0 27px 9px -18px rgba(0, 0, 0, 0.2);
}
.wrapper .examples .cases .case .caption,
.wrapper .examples .cases .case .abstract {
  padding: 2rem;
}
.wrapper .examples .cases .case .caption {
  font-size: 1.7rem;
  border-bottom: 1px solid #d6d6d6;
  color: #02b2b5;
}
.wrapper .examples .cases .case .abstract {
  padding-top: 1rem;
  color: #999fbc;
  font-size: 1rem;
  min-height: 28rem;
}
.wrapper .news {
  padding-bottom: 100px;
}
.wrapper .news .title {
  font-weight: bold;
  color: #02b2b5;
  text-align: center;
  padding: 3rem 0;
  line-height: 300%;
  font-size: 2rem;
  border-bottom: 1px solid #02b2b5;
  padding-bottom: 1.2rem;
  margin-bottom: 1.8rem;
}
.wrapper .news .content .img {
  max-width: 420px;
  overflow: hidden;
  width: 100%;
}
.wrapper .news .content .news-item {
  padding-left: 2.5rem;
}
.wrapper .news .content .news-item .media {
  height: 150px;
}
.wrapper .slogan {
  padding: 60px 0;
  background-color: #02b2b5;
}
.wrapper .slogan p.cn {
  color: #fff;
}
.wrapper .footer {
  padding: 60px 0;
  background-color: #4b4b4b;
  color: #bdc1c1;
}
.wrapper .footer p {
  line-height: 120%;
}
